<h1>Games</h1>

<form action="/games" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="New game">
</form>

<ul>
<% @games.each do |game| %>
  <li><%= link_to game.id, game_path(game) %></li>
<% end %>
</ul>
